.nav {
  background-color: #1a237e;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  height: 4rem;
  width: 100%;
}

.nav a {
  text-decoration: none;
}

.nav-left{
  padding-left: 10px;
  margin: 0;
  width: 100%;
}

.nav-right{
  width: 100%;
}

.nav-link {
  display: inline-block;
  text-align: center;
  padding: 5px 30px 5px 30px;
  text-decoration: none;
  font-size: 14px;
  border: none;
  cursor: pointer;
  outline: 0;
  color: #e0e0e0;
  font-size: 18px;
}

.nav-link:hover {
  background-color: #3949ab
}

.nav-title {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: #f2f2f2;
  padding-left: 10px;
  width: 20%;
}
