.nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-align: center;
  width: 100%;
  padding: 5px;
  background-color: #43a047;
  overflow: hidden;
  /* position: absolute;
  bottom: 0; */
  height: 82px;
}

.nav a {
  text-decoration: none;
}

.nav-left{
  padding-left: 10px;
  margin: 0;
  width: 100%;
}

.nav-right{
  width: 100%;
}

.nav-link {
  display: inline-block;
  color: #f2f2f2;
  background-color: #43a047;
  text-align: center;
  padding: 12px 30px;
  text-decoration: none;
  font-size: 14px;
  border: none;
  cursor: pointer;
  outline: 0;
}

.nav-link:hover {
  background-color: #2e7d32;
}

.nav-title {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: #f2f2f2;
  padding-left: 10px;
  width: 20%;
}
